$mainColor: #ff5d43;
$subColor: #333;
$subColor-light: rgb(82, 82, 82);
// .App {//   background-color: $subColor-light;
// }
li {
  list-style-type:none;
}
.text-mainColor {
  color: $mainColor;
}

.text-subColor {
  color: $subColor;
}

.nav-videolist {
  background-color: #f8f9fa;
  padding: 1rem;
  a {
    color: #fff !important;
  }
  .card {
    border: none;
    .card-body {
      background-color: #fff;
      color: $mainColor;
    }
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
  // box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  // border-radius: 12px;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-layout {
  background: #333;
}
.renderInfoBox {
  height: 100vh;
  overflow: auto;
  position: relative;

}
.player-layout-r {
  position: relative;
  overflow: auto;
  background: #333;
  padding: 1rem;
  @media (max-width: 767px) {
    padding: 1rem;
    background: #333;
    height: 37vh;
  }
  .react-player-numlist {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @media (max-width: 767px) {
      position: relative;
      height: 100%;
      overflow: auto;
    }
    li {
      margin-bottom: 1px;
      line-height: 0.375;

      a {
        width: 100%;
        border-radius: 0;
        color: #fff !important;
        background: #3c3c3c;
        margin-bottom: 1px;
        border: none;
        text-align: left;
        padding: 0.375rem 1.375rem;
        border-radius: 4px;
        &:focus {
          box-shadow: none !important;
        }
        &.active {
          background: $mainColor;
          color: #fff !important;
        }
      }
    }
  }
}

.card {
  .card-body {
    padding: 0.375rem;
    .card-text {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      line-height: 1.2rem;
      height: 40px;
      margin: 0 auto;
      font-size: 1rem;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
