@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import './icons';

$color-main: rgba(13, 27, 101, 0.89);
$color-primary: #1b6afd;
$colors: (
  mainColor: #fff,
  color-gradient-primary: linear-gradient(135deg, #8ca0ff 0%, #b093ff 100%),
  color-primary: #9f89ff,
  color-gradient-info: linear-gradient(135deg, #7bd3fe 0%, #abebff 100%),
  color-info: #7bd3fe,
  color-gradient-danger: linear-gradient(135deg, #ef778c 0%, #f59fae 100%),
  color-danger: #ef778c,
  color-gradient-warning: linear-gradient(135deg, #ffc8a2 0%, #ffecc1 100%),
  color-warning: #ffc8a2
);


.white-space-pre {
  white-space: pre;
}