html,
body {
  box-sizing: border-box;
}

.full-container {
  display: flex;
  flex: 0 0 50%;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 767px) {
    display: block;
    padding-top: 200px;
  }
  .left {
    width: 100%;
    height: 100%;
    @media (max-width: 767px) {
      position: fixed;
      left: 0;
      top: 0;
      height: 200px;
      overflow: hidden;
    }
  }
  .right {
    padding: 1rem 2rem;
    flex: 0 0 600px;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  .dl-head,
  .dl-body {
    width: 100%;
  }
  .dl-tr {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &:hover {
      background-color: gold;
      cursor: pointer;
    }
  }
  dt,
  dd {
    font-weight: bold;
    &:nth-of-type(1) {
      flex: 0 0 8%;
    }
    &:nth-of-type(2) {
      flex: 0 0 10%;
    }
    &:nth-of-type(3) {
      flex: 0 0 30%;
    }
    &:nth-of-type(4) {
      flex: 0 0 30%;
    }
    &:nth-of-type(5) {
      flex: 0 0 20%;
    }
  }
}