@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
$color-main: rgba(13, 27, 101, 0.89);
$color-primary: #1b6afd;
$colors: (
  mainColor: #fff,
  color-gradient-primary: linear-gradient(135deg, #8ca0ff 0%, #b093ff 100%),
  color-lightprimary: rgba(117, 212, 225, 1),
  color-lightprimary-deep: #5cc9d8,
  color-lightgray: rgba(184, 187, 192, 1),
  color-deepgray: rgba(47, 53, 68, 1),
  color-primary: #9f89ff,
  color-gradient-info: linear-gradient(135deg, #7bd3fe 0%, #abebff 100%),
  color-info: #7bd3fe,
  color-gradient-danger: linear-gradient(135deg, #ef778c 0%, #f59fae 100%),
  color-danger: #ef778c,
  color-gradient-warning: linear-gradient(135deg, #ffc8a2 0%, #ffecc1 100%),
  color-warning: #ffc8a2
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: $color;
  }
}

.radius-25 {
  border-radius: 25px;
}
.text-deepgray {
  color: map-get($colors, color-deepgray);
}
.text-lightgray {
  color: map-get($colors, color-lightgray);
}
a {
  color: map-get($colors, color-lightprimary);
  &:hover {
    color: map-get($colors, color-lightprimary-deep);
  }
}

.btn-pink {
  background-color: #ef778c;
  color: #fff;
}

.bg-primary {
  background: map-get($colors, color-gradient-primary) !important;
}

.btn {
  border: none;
}

.btn-warning {
  background: map-get($colors, color-gradient-warning);
  border-color: map-get($colors, color-warning);
  color: #af6440;

  &:hover,
  &:focus {
    background-color: map-get($colors, color-warning);
    border-color: map-get($colors, color-warning);
  }
}

.btn-primary {
  background: map-get($colors, color-gradient-primary);
  border-color: map-get($colors, color-primary);

  &:hover,
  &:focus {
    background-color: map-get($colors, color-primary);
    border-color: map-get($colors, color-primary);
  }
}

.btn-danger {
  background: map-get($colors, color-gradient-danger);
  border-color: map-get($colors, color-danger);

  &:hover,
  &:focus {
    background-color: map-get($colors, color-danger);
    border-color: map-get($colors, color-danger);
  }
}

.nav-pills {
  .nav-link {
    color: map-get($colors, color-primary);

    &.active {
      color: #fff !important;
      background-color: map-get($colors, color-primary);
    }
  }
}

body {
  font-family: arial, "Microsoft Jhenghei", sans-serif;
  background-color: map-get($colors, mainColor);
  counter-reset: section;
}

.body-header {
  background-color: #000;
  width: 100%;
  min-height: 200px; // position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
}

.card {
  .card-head {
    position: relative;
  }
  .card-body {
    background-color: #fff;
  }
  .btn-setting {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.375rem;

    img {
      transition: all 1000ms;
      filter: drop-shadow(2px 2px 0.5rem rgb(48, 219, 224));
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      img {
        transform: rotate(180deg);
      }
    }
  }
  .card-foot {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    &.toggle {
      z-index: 2;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.nav-pills {
  a {
    margin-right: 0.6rem;

    i {
      font-size: 1.4rem;
    }
  }
}

fieldset.scheduler-border {
  border-color: map-get($colors, color-primary);
  border-style: groove;
  border-width: 1px;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important; // -webkit-box-shadow:  0px 0px 0px 0px map-get($colors,color-primary);
  //         box-shadow:  0px 0px 0px 0px map-get($colors,color-primary);
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  color: map-get($colors, color-primary);
}

// $sizeClass == 'small'
.grid-list {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr; // grid-template-columns:repeat(4,1fr);
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 1rem;
}

// .list-group {
//   li {
//     position: relative;
//     list-style: none;

//     .btn-favorite {
//       position: absolute;
//       left: 0;
//       bottom: 0;
//       z-index: 999;
//     }

//     .list-group-item {
//       background-color: lighten(map-get($colors, mainColor), 2%);

//       .list-textContent {
//         color: #333;
//       }
//     }
//   }
// }

.leftWrap {
  z-index: 0;
}

.favoriteListWrap {
  background-color: #fff;

  &:after {
    content: none;
  }

  @media (max-width: 992px) {
    position: fixed;
    overflow: auto;
    height: 100vh;
    width: 100%;
    left: -100%;
    padding: 0 2rem;
    top: 0;
    z-index: 777;
  }

  &.active {
    left: 0;

    &:after {
      content: "";
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
    }

    .favoriteList-close {
      display: block;
    }
  }
}

.favoriteList-close {
  display: none;
  position: fixed;
  top: 1rem;
  right: 3rem;
  background: map-get($colors, color-danger);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;

  @media (min-width: 768px) {
    display: none;
  }

  i {
    color: #fff;
  }
}

.favoriteList {
  ul {
    padding-left: 0;

    li {
      position: relative;
      list-style: none;
      padding-right: 4rem;
      margin-bottom: 1rem;

      &.playing {
        background: #e6e6e6;

        a {
          background: #e6e6e6;
        }
      }

      button.btn-removeFavorite {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
      }

      a {
        position: relative;
        border: none;

        &::before {
          counter-increment: section;
          content: counter(section);
          position: absolute;
          left: 0;
          top: 0;
          width: 25px;
          height: 25px;
          background-color: map-get($colors, color-primary);
          text-align: center;
          line-height: 25px;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}

.favoriteList-style2 {
  ul {
    padding-left: 0;

    li {
      position: relative;
      margin-bottom: 2rem;
      padding-right: 4rem;

      &:hover {
        border-radius: 0.75rem;
        background: linear-gradient(270deg, #175061 0%, #3a1e90 100%);
      }

      a {
        background-color: transparent;

        &:hover,
        &:focus {
          background-color: transparent;
        }

        &::before {
          counter-increment: section;
          content: counter(section);
          position: absolute;
          left: 0;
          top: 0;
          width: 25px;
          height: 25px;
          background-color: map-get($colors, color-primary);
          text-align: center;
          line-height: 25px;
          font-weight: bold;
          color: #fff;
        }

        .list-left {
          img {
            border-radius: 1rem;
          }
        }

        .list-right {
          padding-top: 0 !important;
        }

        h6 {
          color: #fff;
        }
      }
    }
  }

  button.btn-removeFavorite {
    position: absolute;
    right: 0;
    z-index: 9;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.shadow-lg {
  box-shadow: 0 0rem 2rem rgba(250, 114, 0, 0.45);
}

.controlPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem 0;
  box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    display: none;
  }
}

.palyer-panel-top {
  position: relative;

  .player-title {
    color: #fff;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.player-panel {
  margin: 0.6rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 1rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;

    &.play {
      width: 50px;
      height: 50px;
      background: #ff1c4a;

      i {
        color: #fff;
      }
    }
  }
}

.video-grid {
  @media (max-width: 992px) {
    padding: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-left: 0;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: counter(section);
        counter-increment: section;
        z-index: 999;
        background: rgba(71, 71, 71, 0.7);
        width: 60px;
        height: 30px;
        text-align: center;
        color: #fff;
      }

      .btn-removeFavorite {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        display: none;
      }

      .list-group-item {
        &:hover {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 9999;
          background-color: rgba(0, 0, 0, 0.8);

          img {
            z-index: -1 !important;
            opacity: 0.1;
          }

          .infoCard {
            display: grid;
          }

          .btn-removeFavorite {
            display: block;
          }
        }

        img {
          width: 100% !important;
        }

        .list-right {
          display: none !important;
        }

        .infoCard {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          display: none;
          grid-gap: 12px;

          button {
            text-align: center;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            color: #fff;
          }
        }
      }
    }
  }
}

.play-card {
  .play-title {
    color: #fff;
    font-size: 1.375rem;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1rem;
  }
}

.modal-wrap2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;

  .container {
    @media (max-width: 992px) {
      padding: 0;
      width: 100%;
      max-width: initial !important;
      position: absolute;
      top: 0;
    }
  }

  .close-modal {
    @media (max-width: 992px) {
      position: fixed;
      right: 1rem;
      top: 1rem;
      z-index: 999;
      background-color: none;

      i {
        color: red;
        background-color: #fff;
        font-size: 2rem;
        border-radius: 50%;
      }
    }
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer-wrap {
  // background-color: #fe4275;
  background-color: #333;
  .container {
    padding: 1rem 0;
  }
  .footer-info {
    color: #fff;
    a {
      color: #43caff;
    }
  }
}
