@import "../../../styles/components/variables";
@import "./components/variables";
.play-hito {
  .photo {
    transform: rotate(0);

    &.playing {
      animation: roro 15s infinite linear;
    }
  }
}

@keyframes roro {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main {
  grid-area: main;
  overflow-x: scroll;
  @media (max-width: 992px) {
    display: block;
  }

  .play-video {
    position: absolute;
    grid-area: videoblock;
    .play-card {
      position: relative;
      width: 100%;
      .embed-responsive {
        height: 50vh;
      }
      @media (max-width: 992px) {
        width: 100%;
        .embed-responsive {
          height: initial;
        }
      }
    }
  }
  ul.songsourcelist {
    margin-top: 1rem;
    li {
      list-style: none;
      .btn {
        border-radius: 0.375rem;
        padding: 0.375rem 1rem;
      }
    }
  }
  ul.categorylist {
    li {
      max-height: 150px;

      .btn {
        white-space: pre-line;
        word-break: break-word;
        padding: 1rem 0.8rem !important;
        border-radius: 0;
      }
    }
  }

  .play-hito {
    grid-area: hito;
    color: #fff;

    ul {
      padding-left: 0;
      overflow-x: auto;

      @media (max-width: 992px) {
        display: block;
      }

      li {
        position: relative;
        flex: 0 0 300px;
        height: 90%;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: #fff;
        border-radius: 6px;
        margin: 0.6rem;
        color: #333;

        .mr-auto {
          @media (max-width: 992px) {
            margin-left: 6% !important;
            margin-right: 8% !important;
          }
        }

        .ml-auto {
          // position: absolute;
          height: 100%;
          top: 0;
          right: 0;

          .btn-group {
            height: 100%;
            // button {
            //   &:hover {
            //     background-color:#e2e2e2;
            //   }
            // }
          }
        }

        @media (max-width: 992px) {
          padding: 0.375rem 0.75rem;
        }
      }
    }
  }
}

.Footer-Block {
  grid-area: footer;
  grid-template-areas: "control time setting";
  grid-template-columns: 270px 1fr 200px;
  display: grid;
  background-color: #fff;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  z-index: 99;
  padding: 0.75rem;
  transition: transform 200ms;
  &.top {
    transform: translateY(0%);
  }
  &.down {
    transform: translateY(100%);
  }
  @media (max-width: 992px) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.75rem 1rem;
  }

  .btn-prev {
  }

  .btn-play {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background: linear-gradient(180deg, #21c8f6, #637bff);
    margin: 0;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);

    i {
      color: #fff;
      font-size: 1rem;
    }
  }

  .btn-next {
  }

  .play-time {
    grid-area: time;
    display: grid;
    grid-template-areas: "start bar end";
    grid-template-columns: 120px 1fr 120px;
    align-items: center;

    .startTime {
      grid-area: start;
      color: #fff;
      text-align: center;
      font-size: 0.75rem;
    }

    .timeBar {
      position: relative;
      grid-area: bar;
      background-color: #fff;
      border-radius: 25px;
      width: 100%;
      height: 3px;

      .timebar-run {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: blue;
      }
    }

    .endTime {
      grid-area: end;
      color: #fff;
      text-align: center;
      font-size: 0.75rem;
    }
  }

  .play-setting {
    grid-area: setting;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      i {
        color: #fff;
      }
    }
  }
}

.YouTube-Platform {
  // height: calc(100vh - 80px);
  display: grid;
  grid-template-areas: "videoblock main" "videoblock main";
  grid-template-columns: 1fr 600px;
  grid-template-rows: 1fr 60px;
  // height: calc(100vh - 3rem);
  margin-bottom: 6rem;
  background-size: cover;

  @media (max-width: 992px) {
    display: block;
    height: auto;
  }
}

.searchBox {
  background: #fff;
  // padding: 1rem 0;

  .input-group {
    padding: 1rem;
    padding-left: 50px;
    input {
      border-right: rgba(0, 0, 0, 0);
      border-radius: 4px 0 0 4px;
    }
    button {
      border-radius: 0 4px 4px 0;
    }

    .input-group-prepend {
      .input-group-text {
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }
    }
  }

  .searchBox-filter {
    border-top: 3px solid red;
    padding: 1rem;
  }

  .searchBox-viewBox {
    padding: 0 1rem 1rem 1rem;
  }
}

.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;

  .container {
    @media (max-width: 992px) {
      padding: 0;
      width: 100%;
      max-width: initial !important;
      position: absolute;
      top: 0;
    }
  }

  .close-modal {
    @media (max-width: 992px) {
      position: absolute;
      left: 8px;
      color: #333;
      z-index: 999;
    }
  }
}

.play-slider {
  width: 100%;
  overflow-x: auto;

  .slider-card {
    position: relative;
    border: none;
    .list-group-item {
      border: none;
    }
    .btn-favorite {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 999;
    }
  }
}
