:root {
  --primary: rgb(35, 161, 170);
}

* {
  margin: 0;
  padding: 0;
}


/* goLink */

.goLink {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background-color: var(--primary);
  text-align: center;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.8rem;
}

.goLink:hover {
  text-decoration: none;
  color: #fff;
}

/* checkBox */

.form-check {
  word-break: keep-all;
  white-space: pre;
}

.form-check input {
  display: none;
}

.form-check input~label {
  margin-bottom: 1rem;
  padding: 0.375rem 1rem;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 6px;
  cursor: pointer;
  color: rgb(161, 161, 161);
}

.form-check input~label:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
}

.form-check input:checked~label {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
}

.listInfo li {
  list-style: none;
  color: #333;
}

.cardInfo h5 {
  color: #333;
}
@media (max-width: 767px) {
  .goLink {
    right: 1rem;
    bottom: 1rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}