* {
  text-align: left;
}
// html,body {
//     font-size: 62.5%;
// }
html {
  font-size: 1rem;
  @media (max-width: 992px) {
    font-size: 1.4rem;
  }
  @media (max-width: 767px) {
    font-size: 1.1rem;
  }
}

.navbar {
  padding: 0.75rem 0.375rem !important;
  position: relative;
  z-index: 9999;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
  box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
  .nav-link {
    padding: 0.5rem 0.375rem;
    color:#333;
  }
}
